<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>記録</title>
</head>

<body>
  <!--<h1>Authorized! <span sec:authentication="name"></span>
  </h1>
  <a href="/logout">ログアウト</a>-->

  <h2>Log</h2>

  <div <h3>ようこそ <div sec:authentication="name"></div>
    </h3>

    <div th:if="${log1}">
      <table border="1">
        <thead>
          <th>ID</th>
          <th>金額</th>
          <th>金種</th>
          <th>種別</th>
          <th>日付</th>
        </thead>
        <tbody>
          <tr th:each="log1,stat:${log1}">
            <td>[[${log1.log_id}]]</td>
            <td>[[${log1.value}]]</td>
            <td>[[${log1.kind_name}]]</td>
            <td>[[${log1.type_name}]]</td>
            <td>[[${log1.date}]]</td>
          </tr>
        </tbody>
      </table>
    </div>

    <form th:action="@{/Record/insert}" method="post">
      <label>金額<input type="number" name="value"></label>
      <label> 金種<input type="number" name="kind_id"></label>
      <label> 種別<input type="number" name="type_id"></label>
      <input type="submit" value="登録">
      <input type="reset" value="リセット">
    </form>
    <a href="/">戻る</a>

    <div th:if="${setting1}">
      <table border="1">
        <thead>
          <th>ID</th>
          <th>金種</th>
        </thead>
        <tbody>
          <tr th:each="setting1,stat:${setting1}">
            <td>[[${setting1.kind_id}]]</td>
            <td>[[${setting1.kind_name}]]</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div th:if="${setting2}">
      <table border="1">
        <thead>
          <th>ID</th>
          <th>種別</th>
        </thead>
        <tbody>
          <tr th:each="setting2,stat:${setting2}">
            <td>[[${setting2.type_id}]]</td>
            <td>[[${setting2.type_name}]]</td>
          </tr>
        </tbody>
      </table>
    </div>


</body>

</html>
