<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>記録</title>
</head>

<body>
  <!--<h1>Authorized! <span sec:authentication="name"></span>
  </h1>
  <a href="/logout">ログアウト</a>-->

  <h2>Log</h2>

  <a href="/Record/log">記録一覧</a>
  <div th:if="${log1}">
    <table border="1">
      <thead>
        <th>ID</th>
        <th>金額</th>
        <th>どこから</th>
        <th>なにに</th>
        <th>日付</th>
      </thead>
      <tbody>
        <tr th:each="log1,stat:${log1}">
          <td>index:[[${stat.index}]]</td>
          <td>金額:[[${log1.value}]]</td>
          <td>どこから:[[${log1.kind_id}]]</td>
          <td>なにに:[[${log1.type_id}]]</td>
          <td>日付:[[${log1.date}]]</td>
        </tr>
      </tbody>
    </table>
  </div>

</body>

</html>
