<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Setting</title>
</head>

<body>
  <!--<h1>Authorized! <span sec:authentication="name"></span>
  </h1>
  <a href="/logout">ログアウト</a>-->

  <h2>設定</h2>

  <h3>金種を追加</h3>

  <div th:if="${setting1}">
    <table border="1">
      <thead>
        <th>ID</th>
        <th>金種</th>
      </thead>
      <tbody>
        <tr th:each="setting1,stat:${setting1}">
          <td>[[${setting1.kind_id}]]</td>
          <td>[[${setting1.kind_name}]]</td>
        </tr>
      </tbody>
    </table>
  </div>
  <form th:action="@{/Setting/kind_insert}" method="post">
    <input type="text" name="kind_name">
    <input type="submit" value="登録">
    <input type="reset" value="リセット">
  </form>


  <h3>種別を追加</h3>

  <div th:if="${setting2}">
    <table border="1">
      <thead>
        <th>ID</th>
        <th>種別</th>
      </thead>
      <tbody>
        <tr th:each="setting2,stat:${setting2}">
          <td>[[${setting2.type_id}]]</td>
          <td>[[${setting2.type_name}]]</td>
        </tr>
      </tbody>
    </table>
  </div>
  <form th:action="@{/Setting/type_insert}" method="post">
    <input type="text" name="type_name">
    <input type="submit" value="登録">
    <input type="reset" value="リセット">
  </form>

  <a href="/">戻る</a>

</body>

</html>
