<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>統計</title>
</head>

<body>

  <h2>Statistics</h2>

  <div th:if="${st1}">
    <table border="1">
      <thead>
        <th>種別</th>
        <th>金額</th>
        <th>金種</th>
      </thead>
      <tbody>
        <tr th:each="st1,stat:${st1}">
          <td>[[${st1.type_name}]]</td>
          <td>[[${st1.value}]]</td>
          <td>[[${st1.kind_name}]]</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div th:if="${st2}">
    日合計：[[${st2.value}]]
  </div>

  <div th:if="${st3}">
    月合計：[[${st3.value}]]
  </div>


  <form th:action="@{/Statistics}" method="post">
    <input type="date" name="value">
    <input type="submit" value="検索">
    <input type="reset" value="リセット">
  </form>
  <a href="/">戻る</a>


</body>

</html>
