<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Statistics</title>
</head>

<body>

  <h2>統計</h2>

  <form th:action="@{/Statistics}" method="post">
    <nobr>
      <input type="submit" name="submit1" value="true" />
      <div th.if="${this}">[[${this}]]</div>
      <input type="submit" name="submit1" value="false">
    </nobr>
  </form>


  <div th:if="${type}">
    <table border="1">
      <thead>
        <th>種別</th>
        <th>金額</th>
      </thead>
      <tbody>
        <tr th:each="type,stat:${type}">
          <td>[[${type.type_name}]]</td>
          <td>[[${type.value}]]</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>

  <div th:if="${kind}">
    <table border="1">
      <thead>
        <th>金種</th>
        <th>金額</th>
      </thead>
      <tbody>
        <tr th:each="kind,stat:${kind}">
          <td>[[${kind.kind_name}]]</td>
          <td>[[${kind.value}]]</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>

  <div th.if="${sumS}">支出合計：[[${sumS}]]</div>

  <div th.if="${sumI}">収入合計：[[${sumI}]]</div>
  <br>
  <div th.if="${BoP}">収支　　：[[${BoP}]]</div>
  <div th.if="${ratio}">収支割合：[[${ratio}]]%</div>
  <br>
  <div th.if="${ratio2}">他のユーザの収支割合：[[${ratio2}]]%</div>

  <a href="/">戻る</a>

</body>

</html>
